.container{
    max-width: 1415px;
    margin: 0 auto;
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 45px 190px 0 190px;
}
.header__nav{
    margin-left: auto;
}
.header__list{
    display: flex;
    column-gap: 35px;
    margin-right: 35px;
    list-style: none;
}
.header__list-link{
    text-decoration: none;
    color: #B8BECD;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}
.header__list-link.header__list-link--active{
    color: #202336;
    font-weight: 500;  
}
.btn{
    width: 132px;
    height: 44px;
    border-radius: 8px;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--secondary{
    color: #FB8F1D;
    border: 1px solid #FB8F1D;
}
.btn.btn--primary{
    color: #fff;
    background-color: #FB8F1D;
}
.header__buttons-wrapper{
    display: flex;
    column-gap: 18px;
}

/* section1 */

.section1__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.section1__search{
    display: flex;
    flex-direction: column;
    margin-left: 189px;
}
.search__header{
    width: auto;
    max-width: 356px;

    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    align:left;
}
.section1__image-wrapper{
    display: flex;
    margin-right: 105px
    width: 687px;
    height: 654px;
}
.search__menu{
    font-weight: 600;
    font-size: 22px;
    line-height: 26.63px;
}
.search__selection{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    width: 100%;
    max-width: 470px;  
}
.search__selection-option{
    width: 220px;
    height: 52px;
    border-radius: 6px;
    margin: 35px 0;   
}

/* section2 */

.section2__wrapper{
    display: flex;
    justify-content: flex-start;
    padding-top: 80px;
}
.section2__image-wrapper{
    display: flex;
    margin-left: 141px;
    width: 659px;
    height: 534px;
}
.section2__content-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 102px;
    justify-content: center;
}
.content__header{
    width: auto;
    max-width: 481px;

    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
}
.content__body{
    width: auto;
    max-width: 450px;

    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin: 20px 0 39px 0;
}

/* section3 */
.section3{
    display: flex;
    justify-content: flex-start;
    padding-top: 262px;
}
.gallery__wraper{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1239px;
    margin-left: 121px;
    padding-left: 119px;
    margin-right: 240px;
}
.gallery__header{
    width: 100%;
    max-width: 1239px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery__link{
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}
.gallery{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.gallery__item{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    max-width: 261px;
    height: 100%;
    max-height: 332px;
    margin-top: 56px;
    column-gap: 20px;

    position: relative;
}
.item__image{
    border-radius: 8px;
}
.item__description{   
    background-color: #fff;
    width: auto;
    max-width: 98px;
    height: auto;
    max-height: 56px;
}
.item__place{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #042521;
}
.item__country{
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    color: rgb(165, 158, 158);
}